<div class="container mt-2 text-center">
  <h1>Chord Sequencer</h1>

  <div class="input-group mb-3 mt-3">
    <input (input)="onStopTyping()" [formControl]="chordNameControl" type="text" class="form-control"
           placeholder="Search chord or add new one..." aria-label="Search chord or add new one..."
           aria-describedby="button-addon2">
    <div class="input-group-append">
      <button [disabled]="!chordNameControl.value || this.chords.length" (click)="addChord()"
              class="btn btn-outline-primary" type="button" id="button-addon2">
        Add
      </button>
    </div>
  </div>
</div>

<section id="available-chords" class="container chord-section">
  <h4>Available chords</h4>

  <mat-checkbox class="z-index-5 mt-3 mb-3" fxLayoutAlign="none center"
                [checked]="chords.length && chordsSelected === chords.length"
                [indeterminate]="chordsSelected && chordsSelected < chords.length"
                [disabled]="!chords.length"
                (change)="toggleAll(chordsSelected !== chords.length)">
    <span class="ml-2 unselectable">Select All</span>
  </mat-checkbox>

  <ul class="list-group list-group-horizontal row m-auto">
    <p *ngIf="!chords.length" class="text-dark col">No chords found, you can add new one.</p>
    <mat-card *ngFor="let chord of chords; let disabled = false;" [class.list-group-item-primary]="chord.checked"
              (click)="$event.stopPropagation();check(chord)" style="font-size:18px;" fxFlex="1 0 200px"
              fxLayoutAlign="space-between center" matRipple matRippleColor="#b8daff" [matRippleDisabled]="disabled"
              class="pt-0 pb-0 m-1 pointer">
      <mat-checkbox class="z-index-5 mt-3 mb-3" fxLayoutAlign="none center" [checked]="chord.checked"
                    (click)="$event.stopPropagation();" (change)="check(chord)">
        <span class="ml-2 unselectable">{{chord.name}}</span>
      </mat-checkbox>
      <div class="z-index-5 height-full" fxLayoutAlign="end">
        <div class="" fxLayoutAlign="end center">
          <button mat-icon-button color="accent" class="mr-0" aria-label="Remove chord" type="button"
                  (mousedown)="disabled=true" (window:mouseup)="disabled=false"
                  (click)="$event.stopPropagation(); removeChord(chord.id, chord.checked)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon>
          </button>
          <button mat-icon-button color="primary" class="mr-0" aria-label="Add chord to sequence" type="button"
                  (mousedown)="disabled=true" (window:mouseup)="disabled=false"
                  (click)="$event.stopPropagation(); addChordToSequence(chord)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </ul>
  <div class="mt-2" fxLayoutAlign="space-between">
    <div fxLayout="row wrap" fxFlex="48" fxFlex.lt-sm="40">
      <button mat-raised-button color="primary" type="button" class="mr-3" fxFlexAlign="baseline"
              [disabled]="selectChordsControl.invalid || !selectChordsControl.value || chords.length < 2"
              (click)="randomlySelect()">
        Randomly Select
      </button>
      <mat-form-field class="border-0-all" fxFlex="1 1 140px">
        <input matInput [formControl]="selectChordsControl" type="number" [min]="MIN_SELECTED"
               [max]="chords.length === 0 ? 0 : chords.length - 1" [disableControl]="chords.length < 2" appDisableControl>
        <span matSuffix>chord(s)</span>

        <mat-error *ngIf="selectChordsControl.hasError('min')">
          Minimum value is {{MIN_SELECTED}}
        </mat-error>
        <mat-error *ngIf="selectChordsControl.hasError('max')">
          Maximum value is {{chords.length === 0 ? 0 : chords.length - 1}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="end" fxFlex="48" fxFlex.lt-sm="56">
      <button mat-raised-button color="accent" type="button" fxFlexAlign="baseline"
              [disabled]="!chordsSelected || !chords.length"
              (click)="removeChords()">
        Delete Selected
      </button>
      <button mat-raised-button color="primary" type="button" fxFlexAlign="baseline"
              [disabled]="!chordsSelected || !chords.length"
              (click)="addChordsToSequence()">
        Add Selected
      </button>
    </div>
  </div>
</section>


<div class="container chord-section">
  <div fxLayoutAlign="space-between">
    <h4>Chord sequence</h4>
    <mat-form-field class="unset">
      <mat-select [formControl]="barsControl" placeholder="Bars per chord">
        <mat-option *ngFor="let val of [1,2,4]" [value]="val">
          {{val}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-multirow-drop-list [items]="chordsSequence" [itemOtherTemplate]="otherTemplate" [itemDraggableTemplate]="draggableTemplate">
    <p *ngIf="!chordsSequence.length" class="text-dark col">No chords found, you can add new one.</p>
  </app-multirow-drop-list>

  <button mat-raised-button color="primary" type="button" class="mt-2" [disabled]="chordsSequence.length < 2"
          (click)="shuffleSequence()">
    Shuffle Sequence
  </button>
</div>

<section id="drumsequencer" class="container chord-section">
  <h4 class=" mb-3">Chord player</h4>
  <app-drumsequencer (sliderPosition)="onSliderChange($event)" (stop)="onStop()"></app-drumsequencer>
</section>

<!-- TEMPLATES -->

<ng-template #otherTemplate let-item="item">
  <span *ngIf="item.playing" class="chord-slider z-index-5 --primary"
        [style.left]="chordSliderPosition + '%'"></span>
</ng-template>

<ng-template #draggableTemplate let-item="item" let-idx>
  {{item.name}}
  <button mat-icon-button color="accent" class="mr-0" aria-label="Remove chord" type="button"
          (click)="removeChordFromSequence($event, idx)">
    <mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon>
  </button>
</ng-template>
