.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chord-section {
  margin-top: 50px;
}

fa-icon {
  transition: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}

.list-group-item {
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.action-icon {
  &:hover {
    fa-icon:first-child {
      opacity: 0;
    }
    fa-icon:last-child {
      opacity: 1;
    }
  }

  fa-icon:first-child {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
  }
  fa-icon:last-child {
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
  }
}

*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

mat-slider {
  width: 300px;
}

mat-grid-tile {
  background: lightblue;
}

::ng-deep mat-checkbox {
  .mat-checkbox-layout {
    margin: 0;
  }
}

button {
  margin-right: 4px;
}

.chord-slider {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--primary);
  opacity: 0.7;
}

:host ::ng-deep .unset .mat-form-field-wrapper {
  padding-bottom: 0;

  .mat-form-field-underline {
    position: unset;
  }
}
