<section id="control" fxLayout="row wrap" fxLayoutAlign="space-between">
  <div class="control-buttons" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="space-between">
    <button mat-raised-button color="primary" (click)="playingBool ? onPause() : onPlay()" fxFlex.gt-md="47"
            ngClass.gt-md="p-0">
      <mat-icon aria-hidden="false" [attr.aria-label]="(playingBool ? 'Pause' : 'Play') + ' drumsequencer'">
        {{playingBool ? 'pause' : 'play_arrow'}}
      </mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onStop()" fxFlex.gt-md="47" ngClass.gt-md="p-0">
      <mat-icon aria-hidden="false" aria-label="Stop drumsequencer">
        stop
      </mat-icon>
    </button>
  </div>
  <mat-slider [value]="bpm" [min]="bpmMin" [max]="bpmMax" (input)="onSliderMove($event)"
              (change)="onSliderChange()" color="primary" fxFlex="75" fxFlex.lt-lg="90">
  </mat-slider>
  <span fxFlex="6" fxLayoutAlign="center center" class="text-center">{{bpm}} bpm</span>
</section>
<mat-grid-list [cols]="NUMBER_OF_COLUMNS + NUMBER_OF_NAME_COLUMNS" rowHeight="1:1" gutterSize="2px"
               class="bg-black border-1 mt-2">
  <div class="slider-wrapper">
    <span class="slider z-index-5" [style.left]="sliderPosition.value + '%'"></span>
  </div>
  <ng-container *ngFor="let drumControl of formArray.controls; let idx = index">
    <mat-grid-tile [colspan]="_NUMBER_OF_NAME_COLUMNS" class="bg-white">
      <mat-form-field class="drumsequencer-form-field" floatLabel="never">
        <mat-select [formControl]="drumControl">
          <mat-select-trigger>
            {{drumControl.value.name}}
          </mat-select-trigger>
          <mat-optgroup *ngFor="let set of drumSet" [label]="set.name">
            <mat-option *ngFor="let drum of set.drums" [value]="drum">
              {{drum.name}}
              <button mat-icon-button matSuffix (click)="$event.stopPropagation(); playDrum(drum)">
                <mat-icon [attr.aria-label]="'Play ' + drum.name" class="mr-0">
                  play_arrow
                </mat-icon>
              </button>
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let column of columns[idx]; let idx2 = index"
                   class="pointer"
                   [class.bg-white]="!column.value"
                   [class.list-group-item-primary]="column.value"
                   [class.border-right-2]="(idx2 + 1) % 4 === 0"
                   (click)="toggleCell(getDrum(idx), column.value); column.value = !column.value"
                   matRipple matRippleColor="#b8daff">
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>

<mat-grid-list [cols]="NUMBER_OF_COLUMNS + NUMBER_OF_NAME_COLUMNS" rowHeight="1:1" gutterSize="2px">
  <mat-grid-tile [colspan]="NUMBER_OF_NAME_COLUMNS" class="bg-white"></mat-grid-tile>
  <mat-grid-tile *ngFor="let column of columns[0]; let idx = index"
                 class="bg-white">
    {{idx + 1}}
  </mat-grid-tile>
</mat-grid-list>
